* {
    font-family: "ヒラギノ角ゴシック", "游ゴシック", "メイリオ", Arial, Helvetica, sans-serif;
    color: aliceblue; 
    background-color: black;
}

ul.menu {
    display: flex;
    justify-content: center;
}

ul.menu li {
    display: inline;
    text-align: center;
    margin: 0 2em ;
}

h1 {
    text-align: center;
}