* {
    font-family: "ヒラギノ角ゴシック", "游ゴシック", "メイリオ", Arial, Helvetica, sans-serif;
    color: black; 
    background-color: white;
}

ul.menu {
    display: flex;
    justify-content: center;
}

ul.menu li {
    display: inline;
    text-align: center;
    margin: 0 2em ;
}

h1 {
    text-align: center;
}

#introduction {
    width: 80vw;
    margin: 0 auto;
}

#introduction h1{
    background-color: transparent;
}

#introduction p{
    background-color: transparent;
}

.heading {
    text-align: center;
}

.groups {
    width: 80vw;
    margin: 5em auto;
}

.groupMenu{
    display: flex;
    justify-content: center;
}

.groupMenu li{
    display: inline;
    margin: auto;
}